@import url('https://fonts.googleapis.com/css?family=Sacramento');

body{
	background:
	linear-gradient(
		rgba(101, 101, 101, 0.62),
		rgba(101, 101, 101, 0.62)
		),
		url("../assets/basil-herbs-green-mediterranean-40720.jpeg"); /*OBS BAKGRUNDSBILD ÄR BARA FÖRSLAG*/
		min-height:100%;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
		-moz-background-size: cover;
	}

	nav{
		background-color: rgba(255, 255, 255, 0);
		width: 100% !important;
	}
	.container{
		width: 100% !important;
	}

	.mainheading{
		font-family: 'Sacramento', cursive;
		font-size: 7rem;
	}

	#search-resturant{
		background-color: rgb(54, 122, 63) !important;
		margin-top: 5%;
	}

	.btn-floating.btn-large{
		background-color: rgb(54, 122, 63) !important;
		margin: 2%;
		width: 156px;
		height: 156px;
		opacity: 0.9;
	}

	.tips{
		background-color: white;
	}

	.form{
		padding: 5% !important;
	}
	.dropdown-content li>span>label {
		height: 0;
	}

	.tips-btn{
		background-color: rgb(54, 122, 63) !important;
	}
	@media only screen and (max-width: 500px) {
		.mainheading{
			font-size: 4rem;
		}
	}
