@import url('https://fonts.googleapis.com/css?family=Sacramento');

body{
	background:
	linear-gradient(
	  rgba(139, 139, 139, 0.39),
	  rgba(139, 139, 139, 0.39)
	),
	url("../assets/pexels-photo-64208.jpeg"); /*OBS BAKGRUNDSBILD ÄR BARA FÖRSLAG*/
	min-height:100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
}

nav{
	background-color: rgba(255, 255, 255, 0);
	width: 100% !important;
}
.container{
	width: 100% !important;
}

.mainheading{
	font-family: 'Sacramento', cursive;
	font-size: 7rem;
}

.btn-floating.btn-large{
	margin: 2%;
	width: 156px;
	height: 156px;
	opacity: 0.7;
}
