@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Lato:300');

body{
	font-family: 'Lato', sans-serif;
	background:
	linear-gradient(
		rgba(101, 101, 101, 0.62),
		rgba(101, 101, 101, 0.62)
		),
		url("../assets/basil-herbs-green-mediterranean-40720.jpeg");
		min-height:100%;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
		-moz-background-size: cover;
	}
	nav{
		background-color: rgba(255, 255, 255, 0);
		width: 100% !important;
	}
	.container{
		width: 100% !important;
	}
	.mainheading{
		font-family: 'Sacramento', cursive;
		font-size: 7rem;
	}
	#search-resturant{
		margin-top: 2%;
		margin-bottom: 4%;
	}
	.btn-floating.btn-large{
		background-color: rgba(100, 133, 89, 0.86) !important;
		margin: 2%;
		width: 156px;
		height: 156px;
	}
	.tips{
		background-color: white;
	}
	.form{
		padding: 5% !important;
	}
	.dropdown-content li>span>label {
		height: 0;
	}
	.tips-btn{
		background-color: rgb(54, 122, 63) !important;
	}
	.about{
		padding: 5% !important;
	}

	#map {
		  height: 100%;
	}

	@media only screen and (max-width: 500px) {
		.mainheading{
			font-size: 4rem;
		}

		.modal{
			width: 99%;
			top: 0% !important;
		}
		.modal, .modal-content, .modal-footer{
			max-height: 99% !important;
		}

		.modal.modal-fixed-footer{
			height: 100% !important;
		}
	}
